USE [master]
GO
/****** Объект:  Database [Clothing_import]    Дата создания скрипта: 09.10.2026 12:38:34 ******/ 
CREATE DATABASE [Clothing_import]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Clothing_import', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Clothing_import.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Clothing_import_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Clothing_import_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Clothing_import].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Clothing_import]
GO
/****** Объект:  Table [dbo].[Category]    Дата создания скрипта: 09.10.2026 12:38:35 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[FullNameID]    Дата создания скрипта: 09.10.2026 12:38:35 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FullNameID](
	[ID] [int] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_FullNameID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Manufacture]    Дата создания скрипта: 09.10.2026 12:38:35 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacture](
	[ID] [int] NOT NULL,
	[Manufacture] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Manufacture] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Orders_import]    Дата создания скрипта: 09.10.2026 12:38:35 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders_import](
	[ID] [int] NOT NULL,
	[NumberOrdes] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[FullNameID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ProductNameID] [int] NOT NULL,
	[ManufactureID] [int] NOT NULL,
	[SizeID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[PodCategory]    Дата создания скрипта: 09.10.2026 12:38:35 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PodCategory](
	[ID] [int] NOT NULL,
	[PodCategory] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_PodCategory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Product_import]    Дата создания скрипта: 09.10.2026 12:38:35 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_import](
	[ID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[PodCategoryID] [int] NOT NULL,
	[Image] [image] NULL,
	[ProductNameID] [int] NOT NULL,
	[ManufactureID] [int] NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Sostav] [nvarchar](255) NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_Product_import] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[ProductName]    Дата создания скрипта: 09.10.2026 12:38:35 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductName](
	[ID] [int] NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ProductName] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[RoleID]    Дата создания скрипта: 09.10.2026 12:38:35 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleID](
	[ID] [int] NOT NULL,
	[Role] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_RoleID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Size_import2]    Дата создания скрипта: 09.10.2026 12:38:35 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size_import2](
	[ID] [int] NOT NULL,
	[Size] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Size_import2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Stock_items_import]    Дата создания скрипта: 09.10.2026 12:38:35 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock_items_import](
	[ID] [int] NOT NULL,
	[ProductNameID] [int] NOT NULL,
	[ManufactureID] [int] NOT NULL,
	[SizeID] [int] NOT NULL,
	[QuantityForOrders] [int] NOT NULL,
 CONSTRAINT [PK_Stock_items_import] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Users_import2]    Дата создания скрипта: 09.10.2026 12:38:35 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_import2](
	[ID] [int] NOT NULL,
	[FullNameID] [int] NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[RoleID] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders_import]  WITH CHECK ADD  CONSTRAINT [FK_Orders_import_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Orders_import] CHECK CONSTRAINT [FK_Orders_import_Category]
GO
ALTER TABLE [dbo].[Orders_import]  WITH CHECK ADD  CONSTRAINT [FK_Orders_import_FullNameID] FOREIGN KEY([FullNameID])
REFERENCES [dbo].[FullNameID] ([ID])
GO
ALTER TABLE [dbo].[Orders_import] CHECK CONSTRAINT [FK_Orders_import_FullNameID]
GO
ALTER TABLE [dbo].[Orders_import]  WITH CHECK ADD  CONSTRAINT [FK_Orders_import_Manufacture] FOREIGN KEY([ManufactureID])
REFERENCES [dbo].[Manufacture] ([ID])
GO
ALTER TABLE [dbo].[Orders_import] CHECK CONSTRAINT [FK_Orders_import_Manufacture]
GO
ALTER TABLE [dbo].[Orders_import]  WITH CHECK ADD  CONSTRAINT [FK_Orders_import_Size_import2] FOREIGN KEY([SizeID])
REFERENCES [dbo].[Size_import2] ([ID])
GO
ALTER TABLE [dbo].[Orders_import] CHECK CONSTRAINT [FK_Orders_import_Size_import2]
GO
ALTER TABLE [dbo].[Product_import]  WITH CHECK ADD  CONSTRAINT [FK_Product_import_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Product_import] CHECK CONSTRAINT [FK_Product_import_Category]
GO
ALTER TABLE [dbo].[Product_import]  WITH CHECK ADD  CONSTRAINT [FK_Product_import_Manufacture] FOREIGN KEY([ManufactureID])
REFERENCES [dbo].[Manufacture] ([ID])
GO
ALTER TABLE [dbo].[Product_import] CHECK CONSTRAINT [FK_Product_import_Manufacture]
GO
ALTER TABLE [dbo].[Product_import]  WITH CHECK ADD  CONSTRAINT [FK_Product_import_PodCategory] FOREIGN KEY([PodCategoryID])
REFERENCES [dbo].[PodCategory] ([ID])
GO
ALTER TABLE [dbo].[Product_import] CHECK CONSTRAINT [FK_Product_import_PodCategory]
GO
ALTER TABLE [dbo].[Product_import]  WITH CHECK ADD  CONSTRAINT [FK_Product_import_ProductName] FOREIGN KEY([ProductNameID])
REFERENCES [dbo].[ProductName] ([ID])
GO
ALTER TABLE [dbo].[Product_import] CHECK CONSTRAINT [FK_Product_import_ProductName]
GO
ALTER TABLE [dbo].[Stock_items_import]  WITH CHECK ADD  CONSTRAINT [FK_Stock_items_import_Manufacture] FOREIGN KEY([ManufactureID])
REFERENCES [dbo].[Manufacture] ([ID])
GO
ALTER TABLE [dbo].[Stock_items_import] CHECK CONSTRAINT [FK_Stock_items_import_Manufacture]
GO
ALTER TABLE [dbo].[Users_import2]  WITH CHECK ADD  CONSTRAINT [FK_Users_import2_FullNameID] FOREIGN KEY([FullNameID])
REFERENCES [dbo].[FullNameID] ([ID])
GO
ALTER TABLE [dbo].[Users_import2] CHECK CONSTRAINT [FK_Users_import2_FullNameID]
GO
ALTER TABLE [dbo].[Users_import2]  WITH CHECK ADD  CONSTRAINT [FK_Users_import2_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[RoleID] ([ID])
GO
ALTER TABLE [dbo].[Users_import2] CHECK CONSTRAINT [FK_Users_import2_RoleID]
GO
USE [master]
GO
